---
title: "Lexicon"
description: "Everything you need to know to migrate old tabligs to Clay taglibs."
url: "/docs/lexicon/add_menu.html"
weight: 2
icon: heart
layout: false
---

{namespace pageDocsLexiconIndex}

/**
 */
{template .render}
  {@param page: ?}

  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="refresh" content="0; URL='{$page.url}'">
    </head>
  </html>
{/template}
