---
title: "Javascript"
url: "/docs/javascript/jQuery.html"
weight: 2
icon: "code"
layout: false
---

{namespace pageDocsJavascriptIndex}

/**
 */
{template .render}
  {@param page: ?}

  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="refresh" content="0; URL='{$page.url}'">
    </head>
  </html>
{/template}
